name: Nightly Build
on:
    push:
        branches:
            - develop
jobs:
    deployNightly:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '14'
            - run: npm install
            - run: npm run build
            - name: Deploy nightly branch
              run: sh ./publish-nightly.sh
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
